# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store